extends layout

block content
  div.container
    main
      h1 4-Players of Colorado
      p Our site is temporarily down for upgrades. Please check back in a few days or wait for the email announcement.
      p Thanks for your patience! ⭐
